__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.db
*.sqlite3
.env
.venv/
venv/
src/app/.coverage*
src/app/.coveragerc
src/app/coverage.xml
src/app/requirements.in
src/app/requirements-dev.in
src/app/requirements-dev.txt
src/app/tests/

.git/
.gitignore
README.md
LICENSE
